
.icon-fire-outline:before { content: '\e800'; } /* '' */
.icon-clear:before { content: '\e816'; } /* '' */
.icon-heart_outlined:before { content: '\e82d'; } /* '' */
.icon-add_circle_outlined:before { content: '\e879'; } /* '' */
.icon-notifications_outlined:before { content: '\e885'; } /* '' */
.icon-arrow_forward:before { content: '\e892'; } /* '' */
.icon-chevron_down:before { content: '\e8a9'; } /* '' */
.icon-file_text_outlined:before { content: '\e963'; } /* '' */
.icon-menu_left_right:before { content: '\eb19'; } /* '' */
.icon-settings_outlined:before { content: '\eb20'; } /* '' */
.icon-sign_out:before { content: '\eb27'; } /* '' */
.icon-format_points:before { content: '\eb56'; } /* '' */
.icon-comparison:before { content: '\ebe5'; } /* '' */
