
.icon-fire-outline:before { content: '\e800'; } /* '' */
.icon-clear:before { content: '\e816'; } /* '' */
.icon-arrow_forward:before { content: '\e892'; } /* '' */
.icon-chevron_down:before { content: '\e8a9'; } /* '' */
.icon-menu_left_right:before { content: '\eb19'; } /* '' */
